<div class="container" [class.component-twinkling]="isTwinkling" [class.disappear]="isDisappear">
    <div class="card-container">
        <div #card class="card" [ngClass]="{'is-flipped': isFlipped, 'no-hover': disableHover}" 
            (click)="openCard()" [style.width.px]="cardEntity.width" [style.height.px]="cardEntity.height">
            <div class="card-face card-front">
                <!-- Contenido del frente de la carta, por ejemplo, un número y un símbolo -->
                <div class="card-value card-index top-left"></div>
                <div class="card-index top-left">
                    <div class="index-value">
                        {{ cardEntity.value }}
                    </div>
                    <div class="suit">
                        {{cardEntity.suite}}
                    </div>
                  </div>
                  <div class="card-index bottom-right">
                    <div class="index-value">{{ this.cardEntity.value }}</div>
                    <div class="suit">&hearts;</div>
                  </div>
                <!-- Agrega símbolos o imágenes si es necesario -->
                <div class="card-main">
                    <span class="suit large">&hearts;</span>
                </div>
                @if (playerLockCard > 0) {
                    <div [class.player-match-mark-player1]="playerLockCard == 1">
                        <span>{{'P1'}}</span>
                    </div>
                    <div [class.player-match-mark-player2]="playerLockCard == 2">
                        <span>{{'P2'}}</span>
                    </div>
                }
            </div>
            <div class="card-face card-back">
            </div>
        </div>
    </div>
</div>