.card-table {
  background-color: #3a5311;
  background-image: linear-gradient(90deg, #375e11 50%, #3e6611 50%);
  background-size: 10px 10px;
  box-shadow: inset 0 0 10px #000000;
  border-radius: 8px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: start; /* Center vertically */
  width: 98%;
  height: 100%;  
}

.table-content {
  width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  height: 100%; /* Ocupa el 100% de la altura de la pantalla */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.card-table table {
  /* Add your table styling here */
  /* For example, if you want to limit the table's width: */
  width: auto;
}

:host {
  display: block;       // Asegura que el componente se comporte como un bloque
  height: 100vh;        // Establece la altura al 100% de la altura de la ventana
  width: 100vw;         // Establece el ancho al 100% de la anchura de la ventana
  margin: 0;            // Elimina cualquier margen
  padding: 0;           // Elimina cualquier relleno
  overflow: hidden;     // Opcional: oculta el desbordamiento de contenido
}

.card-table tr {
  display: block; /* Esto permite que cada fila se muestre como un bloque, uno debajo del otro */
}
.card-table td {
  vertical-align: bottom;
}

.card-table.block {
  filter: brightness(50%);
}