table {
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center; /* Center content horizontally */
    vertical-align: middle; /* Center content vertically */
}