<div class="score-board-main">
    <table class="center">
        <tr>
            <th >@if (isPlayer1Turn) {🟢} @else {🔴}</th> 
            <th>Player 1</th>
            <th>Player 2</th>
            <th >@if (isPlayer2Turn) {🟢} @else {🔴}</th> 
            <th>@if (!isGameStart) {<button (click)="startGame()">START</button>}</th>
        </tr>
        <tr>
            <td ></td>
            <td>PAIRS</td>
            <td>0</td>
            <td>0</td>
            <td ></td>
        </tr>
        <tr>
            <td ></td>
            <td>POINTS</td>
            <td>0</td>
            <td>0</td>
            <td ></td>
        </tr>
    </table>

</div>
